@{
    ViewBag.Title = "Jason Carter's Home Page";
    ViewBag.Heading = "Welcome to my digital playground";
}
@section Nav{<img src="/Images/joy-in-the-fall.jpg" alt="Friendly Headshot" />}
<a id="photo-gallery-tile" href="http://www.flickr.com/photos/carterjk/sets"><span>Photo Gallery</span></a
    ><section id="menu-tiles"
    ><div id="featured-tiles"
        ><a id="tile-1" href="About-Me" class="leftRotate"><span>About Me</span></a
        ><a id="tile-2" href="Portfolio" class="leftRotate"><span>Portfolio</span></a
    ></div
    ><a id="tile-3" href="Gaming" class="leftRotate"><span>Gaming</span></a
    ><a id="tile-4" href="Blog" class="leftRotate"><span>Blog</span></a
    ><a id="tile-5" href="Outdoor-Activities" class="leftRotate"><span>Outdoor Activities</span></a
    ><a id="tile-6" href="Martial-Arts" class="leftRotate"><span>Martial Arts</span></a
    ><a id="tile-7" href="Social-Media" class="leftRotate"><span>Social Media</span></a
></section>    
@section Styles {
    @Styles.Render("~/Content/home.css")
}
@section Scripts {
    <script type="text/javascript">
        require(["jquery"], function($) {
            $(function () {
                $('#menu-tiles a').addClass('rightRotate').removeClass('leftRotate');
        setTimeout(function() {
            $('#menu-tiles a').removeClass('rightRotate');
        }, 400);
            });
        });
    </script>
}