<section id="title"><h1>Page Title</h1></section>
<section id="intro"><p>Introductory Text</p></section>
<section id="content"><p>Page Content</p></section>
@section Scripts {
    <script type="text/javascript">
        require(["jquery"], function($) {
            $(function() {
                // Run jQuery scripts here
            });
        });
    </script>
}